<div id="list" class="col-12 py-3" *ngIf="film">
	<article>
		<div class="row">
			<div class="col-12 col-sm-4 col-lg-3 pb-4" *ngFor="let filmItem of film">
				<h3 class="pb-3 title">{{filmItem.Title}}</h3>
				<p class="pb-2"><strong class="pr-2">Ano:</strong> {{filmItem.Year}}</p>
				<figure class="my-2 mx-auto box-border bg-white mb-3" *ngIf="filmItem.Poster != 'N/A'; else noFilm">
					<img [src]="filmItem.Poster" class="box-gradient" [alt]="filmItem.Title" srcset="">
				</figure>
				<ng-template #noFilm>
					<figure class="my-2 mx-auto box-border bg-white mb-3">
						<img src="../../../assets/src/noposter.png" class="box-gradient" alt="Sem poster" srcset="">
					</figure>
				</ng-template>
				<button class="btn btn-secondary" aria-label="Botão para abrir modal com mais dados" type="button" (click)="seeMore(filmItem.imdbID)">
					Veja mais <span class="fa-solid fa-film"></span>
				</button>
			</div>
		</div> 
	</article>
</div>