header{
    background-color: #7e051c;
    box-shadow: 0px 4px 1rem rgb(126 5 28 / 50%) !important;

    h1{
        background: #FFFFFF;
        background: linear-gradient(to top, #FFFFFF 5%, #fdff91 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Righteous', cursive;
    }
}
