<section id="main" class="container">
    <div class="row">
        <div class="col-12 py-3">
            <h2 class="pb-3 text-center">Busca</h2>
            <p class="pb-3 text-center">Realize a busca e encontre seu filme favorito</p>
            <form class="p-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Titulo do Filme" aria-label="Campo para buscar o título com dois botões">
                    <button class="btn btn-secondary" aria-label="Botão para busca" type="button"><i class="fa-regular fa-magnifying-glass"></i></button>
                    <button class="btn btn-secondary" aria-label="Botão para limpar campo de busca" type="button"><i class="fa-regular fa-eraser"></i></button>
                </div>
            </form>
        </div>
        <div class="col-12 py-3">
            <p>lista</p>
        </div>
    </div>
</section>