figure{
    max-width: 400px;
    &.box-border{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
    }
    .box-gradient {
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00C924, #1294C9, #C91C3C) border-box;
        border-radius: 5%;
        border: 3px solid transparent;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1.5em;
        cursor: pointer;
        &:focus,
        &:hover,
        &:active{
            -webkit-animation: animaborda 10s ease infinite alternate;
            animation: animaborda 10s ease infinite alternate;
        }
  }
}
@-webkit-keyframes animaborda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
  @keyframes animaborda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }


  