@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&display=swap');
body{
    background-color: #000;
    color: #fff;
    font-family:'Roboto Condensed', sans-serif;
}